<h2>Personal and Team Projects</h2>

<p>The following is a compliation of many projects I have worked on.  Click the project title for more information, such as a source code listing or screenshots.  This is not a comprehensive list, as some commercial projects I worked on cannot be displayed, but many personal projects are listed.  Feel free to contact me if you have any questions regarding these projects or seek more information.</p>
<div class="row">
	<div class="span6">
		<h4><a href="#fire_modal" data-toggle="modal">Fire-Alert Franchise Management & Inspection System</a></h4>
		<p>This software was designed and developed for the Ottawa-based fire safety franchisor, Fire Alert.  It provides a role-based system, wherein the company can manage the franchisees.  The main feature is the inspection abilities it provides to the franchisee and his/her employees.  The user can enter inspection information for the various fire-safety devices, removing the need for paper and providing real-time revenue and statistic availability.  Constructed in a team of four, with my main roles consisting of user design and developing the inspection component.  <b>Ruby on Rails & Javascript</b></p>


		
	</div>

	<div class="span6">
		<h4><a href="#stock_modal" data-toggle="modal">Market Analyzer & Trend Forcaster</a></h4>
		<p>Currently in Alpha, the market analyzer and trend forcaster software is able to read an analyze historic data from the S&P 500 (other indices coming soon) to predict future trends.  Based on the most recent day close, in percentages, a next day close can be predicted using historic data.  Future versions will have an improved algorithm, taking into account standard deviation, moving averages, and other technical analysis tools.  <b>Ruby on Rails</b></p>
	</div>

</div>
<div class="row">
	<div class="span6">
		<h4>Alooksie</h4>
		<p>Alooksie is a social network with a planned launch in Fall 2013 at Western University, Canada.  Alooksie provides an unprecedented way to connect with new people.  Developed in a team of four, my main roles consisted of user experience, messaging, and the priority algorithm.  <b>Ruby on Rails</b></p></div>
	<div class="span6">
		<h4><a href="#tower_modal" data-toggle="modal">Tower Defense</a></h4>
		<p>Although Tower Defense is a very popular game, my iteration takes it a step further by providing the user with incredible amounts of customizability.  Users are able to modify the points of a map, the number of waves and the enemies that inhabit it, the types of towers and their powers, and more.  Features a local high score system.  <b>C++ and QT</b></p></div>
</div>
<div class="row">
	<div class="span6">
		<h4><a href="#where_modal" data-toggle="modal">Where Do I Go Tonight?</a></h4>
		<p>If you're ever wondering where the "hot" place to go for a night out is, "Where Do I Go Tonight?" can be a great help.  It determines the popularity of London, ON based clubs and bars to provide a weighted estimate of hot spots to visit.  Additionally, it tracks weekly events that venues hold to provide a more accurate estimate depending on the day of the week.  <b>PHP</b></p></div>
	<div class="span6">
		<h4>Android RTP Video Streamer</h4>
		<p>Built for android, this application is designed to stream RTP video to the android device without requiring any third-party libraries.  It uses the RTSP protocol to communicate with the client, which then sends the device an MJPEG file.  The MJPEG file is streamed to the android device, and the user has the ability to pause or teardown the video at any time.  <b>Java (for Android)</b></p></div>
</div>
<div class="row">
	<div class="span6">
		<h4>Bus Factor Calculator</h4>
		<p>The "Bus Factor" is a term used amongst managers that represents the number of developers that need to become incapacitated (ie 'hit by a bus') to render a project dead.  A higher bus factor is more desirable.  The Bus Factor was designed when I was part of Goodlife Fitness' software team, as part of their FedEx day - a day where we could work on any project we desired.  The bus factor calculator application not only determines the current bus factor of any project, but facilitiates the sharing of knowledge my allowing developers to request other developers that have indicated their expertise in an item to share.  The application received positive reviews during its presentation, opening it to the possibility of being integrated with our JIRA system.  <b>Ruby on Rails</b></p></div>
	<div class="span6">
		<h4><a href="#barber_modal" data-toggle="modal">Barber Shop Simulator</a></h4>
		<p>This application simulates the very common computer science 'Sleeping Barber Problem'.  There are three barbers, with a waiting room of limited capacity, whith a waiting room of limited capacity.  The user is able to input their own customers; customers have different hair cut times, enter the barbershop at different times, and pay different amounts of money.  At the end of the day, the system calculates how many customers have been served, turned away, and the total revenue generated.  The simulated is designed using POSIX Semaphores.  <b>C</b></p></div>
</div>


<div id="fire_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body"><%= image_tag("fire-alert1.png") %><br><%= image_tag("fire-alert2.png") %>
  </div>
</div>
<div id="stock_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <p>Source Code</p><%= image_tag("stock_carousel.png") %>

  </div>
</div>
<div id="tower_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <p>Source Code</p><%= image_tag("tower_defense.png") %>

  </div>
</div>
<div id="where_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <p>Source Code</p><%= image_tag("WDIGT_Goto.png") %>

  </div>
</div>
<div id="barber_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <p>Source Code</p><%= image_tag("barber.png") %>

  </div>
</div>